* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial;
  font-size: 1em;
}

form {
  padding: 3px;
  bottom: 0;
  position: fixed;
  margin-bottom: 2em;
  width: 98%;
  height: 3%;
}

form input {
  border: 0;
  padding: 10px;
  width: 75%;
  margin-right: .5%;
  border: 2px solid white;
  background: #222;
  color: #fff
}

form button {
  width: 20%;
  background: #111;
  border: none;
  padding: 10px;
  border: 2px solid white;
  color: #fff
}

#messages {
  list-style-type: none;
  padding: 0;
  margin-bottom: 5em;
}

#messages li {
  padding: 5px 10px;
  /* background:#111; */
  color: #fff;
}

.newSender {
    font-weight: bold;
}

/* #messages li:nth-child(odd) {
  background: #333;
} */

.form {
    text-align: center;
}

input[type='text'],
input[type='number'],
select:focus,
textarea {
  font-size: 16px;
}
